// Import Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&family=Ubuntu:wght@300;400;500;700&display=swap');

$mainColour: #ff4c68;
$iconColour: #ef8172;
$grey: #8f8f8f;
$headerFont: 'Montserrat', sans-serif;
$textFont: 'Ubuntu', sans-serif;